@import url("https://fonts.googleapis.com/css2?family=Anton&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Normalize defaults */
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

button,
input,
textarea,
select {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Main styling */
:root {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--ultramarine);

  --cardBorder: 16px;

  --ultramarine: #095bdc;
  --banana: #fcd373;
  --salmon: #faafa3;
  --mint: #53d5ac;
  --lilac: #ebbcea;
  --cream: #f7f3e9;
}

body {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;

  background-color: var(--cream);
}

[x-cloak] {
  visibility: hidden !important;
}

main {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  height: auto;
}

nav {
  position: fixed;
  width: 100dvw;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 16px;
  box-sizing: border-box;

  background-color: var(--ultramarine);
  transition: 200ms;
}

.scroll-manager-scrolled-pass-hero nav {
  height: 48px;
  background-color: var(--ultramarine);
}

nav .navigator {
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

/* Components */
@keyframes shaking-anim {
  0% {
    rotate: 0deg;
  }

  37% {
    rotate: 3deg;
  }
  40% {
    rotate: -1.8deg;
  }
  50% {
    rotate: -2.5deg;
  }
  54% {
    rotate: -2.1deg;
  }
  67% {
    rotate: 3.2deg;
  }

  100% {
    rotate: 0deg;
  }
}

.animation-shake {
  animation: shaking-anim 1.4s infinite ease-in-out alternate;
}

.button-filled,
.button-outlined {
  display: inline-flex;
  height: 36px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 20px;
  background: var(--ultramarine);
  color: var(--cream);

  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.4px;

  cursor: pointer;
  transition: 200ms;
  user-select: none;
}

.button-outlined,
.button-filled:hover {
  background: transparent;
  box-shadow: inset 0 0 0 2px var(--ultramarine);
  color: var(--ultramarine);
}

.button-outlined:hover {
  background: var(--ultramarine);
  color: var(--cream);
}

nav .button-filled {
  background: var(--cream);
  color: var(--ultramarine);
}

nav .button-outlined,
nav .button-filled:hover {
  box-shadow: inset 0 0 0 2px var(--cream);
  color: var(--cream);
}

nav .button-outlined:hover {
  background: var(--cream);
  color: var(--ultramarine);
}

.button-filled:active,
.button-outlined:active {
  scale: 0.88;
}

/* Typography */
.highlight-cream {
  color: var(--cream) !important;
}
.highlight-ultramarine {
  color: var(--ultramarine) !important;
}
.highlight-lilac {
  color: var(--lilac) !important;
}
.highlight-banana {
  color: var(--banana) !important;
}
.highlight-mint {
  color: var(--mint) !important;
}
.highlight-salmon {
  color: var(--salmon) !important;
}

.text-body {
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.28px;
}

.text-headline1 {
  font-family: Anton;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 36.4px */
  letter-spacing: 0.26px;
}
.text-headline2 {
  font-family: Anton;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.text-headline1-alt {
  font-family: "Work Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 33.8px */
  letter-spacing: -1.04px;
}

.text-list-item {
  font-family: Anton;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 53.2px */
  letter-spacing: 0.38px;
}

.text-callout {
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.32px;
}

.text-extreme {
  font-family: Anton;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 120px */
  letter-spacing: -1px;
}

.text-extreme-subtag {
  font-family: Anton;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 63px */
  letter-spacing: 0.45px;
}

.text-body {
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.28px;
}

.text-bold {
  font-weight: 700;
}

.opacity-reduce {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .text-extreme {
    font-size: 90px;
  }
}
/* Sections */
.spacer {
  flex: 1;
}

/* HERO */
.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  min-height: 832px;

  padding: 34px;

  background-color: var(--ultramarine);
  box-sizing: border-box;
}

h1.hero-title {
  position: relative;
  width: 80vw;
  text-align: center;
  font-size: clamp(0px, 14.8vw, 200px);
  letter-spacing: -0.148vw;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;

  color: var(--banana);
}

p.hero-subtitle {
  position: relative;
  margin: 0;
  max-width: 560px;
  text-align: center;
  color: var(--cream);
}

@media screen and (max-width: 800px) {
  h1.hero-title {
    width: 90vw;
    font-size: 22.5vw;
    letter-spacing: -0.225vw;
  }
}

.hero-card {
  position: absolute;
  display: flex;
  width: 160px;
  padding: 18px 16px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;

  color: var(--ultramarine);
  background-color: var(--cream);
  text-align: center;

  border-radius: var(--cardBorder, 16px);
}

.background-lilac {
  background-color: var(--lilac);
}
.background-salmon {
  background-color: var(--salmon);
}
.background-mint {
  background-color: var(--mint);
}
.background-banana {
  background-color: var(--banana);
}
.background-cream {
  background-color: var(--cream);
}

.hero-card p {
  margin: 0;
}

.hero-card.hero-card-1 {
  width: 176px;

  left: calc(146 / 1280 * 100dvw);
  top: calc(239px + var(--top-offset));

  animation: hero-card-anim 2.4s ease-in-out infinite alternate;
  --default-rotation: 9.271deg;
  --rotation-multiplier: -1;

  --top-offset: 0px;
}
.hero-card.hero-card-2 {
  width: 160px;

  right: calc(191 / 1280 * 100dvw);
  top: calc(286px + var(--top-offset));

  animation: hero-card-anim 2.2s ease-in-out infinite alternate;
  --default-rotation: -19.968deg;
  --rotation-multiplier: 1.1;

  --top-offset: 0px;
}
.hero-card.hero-card-3 {
  width: 190px;

  left: calc(366 / 1280 * 100dvw);
  bottom: calc(167px - var(--top-offset));

  animation: hero-card-anim 1.6s ease-in-out infinite alternate;
  --default-rotation: -21.684deg;
  --rotation-multiplier: 1;

  --top-offset: 0px;
}
.hero-card.hero-card-4 {
  width: 220px;

  right: calc(321 / 1280 * 100dvw);
  bottom: calc(156px - var(--top-offset));

  animation: hero-card-anim 2.2s ease-in-out infinite alternate;
  --default-rotation: 11.024deg;
  --rotation-multiplier: -0.9;

  --top-offset: 0px;
}

@keyframes hero-card-anim {
  from {
    transform: rotate(var(--default-rotation));
  }
  to {
    transform: rotate(
      calc(var(--default-rotation) + 7deg * var(--rotation-multiplier))
    );
  }
}

@media screen and (max-width: 1100px) {
  .hero-card {
    scale: 0.8;
  }
  .hero-card.hero-card-1 {
    left: calc(146 / 1280 * 100dvw);
    --top-offset: -20px;
  }
  .hero-card.hero-card-2 {
    right: calc(191 / 1280 * 100dvw);
    --top-offset: -20px;
  }
  .hero-card.hero-card-3 {
    left: calc(242 / 1280 * 100dvw);
    --top-offset: -30px;
  }
  .hero-card.hero-card-4 {
    right: calc(282 / 1280 * 100dvw);
    --top-offset: -40px;
  }
}
@media screen and (max-width: 800px) {
  .hero-card.hero-card-1 {
    left: calc(50 / 1280 * 100dvw);
    --top-offset: -20px;
  }
  .hero-card.hero-card-2 {
    right: calc(90 / 1280 * 100dvw);
    --top-offset: -20px;
  }
  .hero-card.hero-card-3 {
    left: calc(150 / 1280 * 100dvw);
    --top-offset: -120px;
  }
  .hero-card.hero-card-4 {
    right: calc(282 / 1280 * 100dvw);
    --top-offset: 30px;
  }
}

@media screen and (max-width: 700px) {
  .hero-card.hero-card-1 {
    left: calc(240 / 1280 * 100dvw);
    --top-offset: -130px;
    scale: 0.7;
  }
  .hero-card.hero-card-2 {
    right: calc(90 / 1280 * 100dvw);
    --top-offset: -20px;
    scale: 0.75;
  }
  .hero-card.hero-card-3 {
    left: calc(-20 / 1280 * 100dvw);
    --top-offset: -140px;
    scale: 0.75;
  }
  .hero-card.hero-card-4 {
    right: calc(122 / 1280 * 100dvw);
    --top-offset: -20px;
    scale: 0.75;
  }
}

/* PAIN POINTS */
.ppoints-section {
  position: relative;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(12, 1fr);
  padding: 80px 24px;
  box-sizing: border-box;
  color: var(--ultramarine);
}

.ppoints-section,
.compatibility-section {
  padding: 80px 24px;
}

.ppoints-section > aside {
  position: relative;
  grid-column: span 4;
}

.ppoints-subject {
  width: 135%;
  position: absolute;
  top: 20%;
  left: 7%;
  min-width: 300px;
  max-width: 500px;
}

.ppoints-section h2 {
  margin: 0;
}

.ppoints-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  grid-column: 6 / -2;
  gap: 50px;
}

.ppoints-list > li {
  position: relative;
  transform-origin: left top;
  translate: 0 32px;
  scale: 0.9;
  opacity: 0;
  transition: 500ms;

  padding: 24px;
  box-sizing: border-box;
  border-radius: calc(var(--cardBorder) * 2);
  background-color: var(--lilac);
}

.ppoints-list > li::after {
  position: absolute;
  content: "";
  z-index: 1;
  width: 0;
  height: 0;
  left: -14px;
  bottom: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 21px solid var(--lilac);
}

.ppoints-list > li.scroll-manager-scrolled-to {
  translate: 0 0px;
  scale: 1;
  opacity: 1;
}

.ppoints-list > li.scroll-manager-scrolled-pass {
  scale: 0.94;
  opacity: 0.2;
  filter: blur(2px);
}

.floaty {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: default;
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  .ppoints-section {
    padding: 80px 60px;
  }
  .ppoints-subject {
    display: none;
  }
  .ppoints-section > aside {
    grid-column: span 12;
    text-align: center;
  }
  .ppoints-list {
    grid-column: span 12;
    text-align: center;
    padding-top: 24px;
  }

  .ppoints-list > li {
    transform-origin: center;
  }
}

/* COMPATIBILITY */
.compatibility-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.compatibility-list {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.compatibility-list li {
  position: relative;
  border-radius: var(--cardBorder);
  padding: 20px 20px 46px 20px;
  gap: 16px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 300ms;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.compatibility-list li {
  grid-column: span 2;
}

.compatibility-list li:hover {
  scale: 1.02;
}

.compatibility-list li:active {
  scale: 0.8;
}

.compatibility-list .checkbox {
  align-self: flex-start;
  pointer-events: none;
  user-select: none;
}

.emoji-icon {
  font-size: 92px;
  text-align: center;
  /* height: 100px; */
  margin-top: -70px;
  margin-bottom: 26px;
}

.checked .emoji-icon {
  animation: 600ms checked-bounce ease-in-out forwards;
}

@keyframes checked-bounce {
  0% {
    rotate: 0deg;
  }

  40% {
    rotate: -10deg;
  }

  45% {
    rotate: 5deg;
    scale: 1.4;
  }

  50% {
    rotate: 10deg;
  }

  55% {
    rotate: -5deg;
    scale: 1.4;
  }

  60% {
    rotate: 5deg;
  }

  100% {
    rotate: 0deg;
  }
}

@media screen and (max-width: 1000px) {
  .compatibility-list li {
    grid-column: span 2 !important;
  }
  .compatibility-list li:nth-of-type(2) {
    grid-row: initial;
  }
}

@media screen and (max-width: 800px) {
  .compatibility-section h2,
  .compatibility-section h4 {
    text-align: center;
  }
  .compatibility-list li {
    grid-column: span 4 !important;
    rotate: 0deg !important;
  }
}

.result-space {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: column;
  pointer-events: none;
  translate: 0 -10px;
  opacity: 0;
  scale: 0.8;
  filter: blur(20px);
  transition: 300ms cubic-bezier(0.31, 0.24, 0.44, 1.45);
}

.result-space.result-show {
  pointer-events: all;
  translate: 0 0px;
  scale: 1;
  opacity: 1;
  filter: blur(0px);
}

.result-space h4 {
  min-height: 48px;
  width: 100%;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* REASONS */
.reasons-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  padding-bottom: 80px;
  box-sizing: border-box;
  color: var(--ultramarine);
  background-color: var(--mint);
  z-index: 1;
}

.reasons-section h2 {
  max-width: 580px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 67px;
}

.reason-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  max-width: 1000px;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.reason-list > li {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: var(--cardBorder);
  background-color: var(--cream);
}

.reason-list .emoji-icon {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .reason-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* COURSES */
.courses-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px 24px;
  padding-bottom: 80px;
  box-sizing: border-box;
  color: var(--ultramarine);
  background-color: var(--mint);
}

.courses-section h2 {
  max-width: 580px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 67px;
}

.courses-card-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
  max-width: 1000px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.course-cover {
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: calc(var(--cardBorder) / 2);
  background-color: #e2e2e7;
}

.courses-card-list > li {
  width: 100%;
  padding: 20px;
  gap: 24px;
  box-sizing: border-box;
  border-radius: var(--cardBorder);
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: scale 200ms, background-color 200ms;
}

.courses-card-list > li img.icon {
  width: 40px;
  align-self: flex-end;
  justify-self: flex-end;
}
.course-info {
  height: 90px;
}

@media screen and (max-width: 800px) {
  .courses-card-list {
    display: flex;
  }
  .courses-card-list > li {
    gap: 45px;
  }
}

@media screen and (max-width: 700px) {
  .courses-card-list {
    display: flex;
    flex-direction: column;
    gap: 90px;
  }
  .course-info {
    height: unset;
  }
}

.courses-card-list > li:hover {
  scale: 1.06;
}
.courses-card-list > li:active {
  scale: 0.85;
}

/* TEACHERS */
.teachers-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 103px;
  align-items: center;
  padding: 54px 24px 153px 24px;
  box-sizing: border-box;
  color: var(--ultramarine);
}

.teacher-section-headline {
  width: 100%;
}

.teacher {
  position: relative;
  width: 100%;
  display: grid;
  gap: 20px 24px;
  grid-template-columns: repeat(12, 1fr);
}

.teacher-info {
  grid-column: 7 / span 6;
}

.achievements-list {
  margin: 0;
  padding: 0;
  padding-left: 24px;
  margin-top: 8px;
}

.teacher-image-container {
  position: relative;
  background-color: var(--lilac);
  border-radius: var(--cardBorder);
  grid-column: span 4;
  aspect-ratio: 4 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teacher-image-container > img.avatar {
  position: absolute;
  bottom: 0;
  width: 72%;
}

.teacher-image-container > img.seal {
  position: absolute;
  right: var(--offset);
  top: var(--offset);
  width: 47%;
  animation: 24s rotating-360 infinite linear;

  --offset: -30%;
}

.text-block {
  grid-column: 2 / span 5;
  grid-row-start: 1;
}

.text-block > p {
  max-width: 410px;
}

.teacher.teacher-odd > .text-block {
  grid-column: 8 / span 5;
  grid-row-start: 2;
}

.teacher.teacher-odd > .teacher-image-container {
  grid-column: 3 / span 4;
}

.teacher.teacher-odd > .teacher-info {
  grid-column: 3 / span 5;
}

.teacher.teacher-odd img.seal {
  right: initial;
  left: var(--offset);
}

.rotating-360 {
  animation: rotating-360 30s infinite linear;
}

@keyframes rotating-360 {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

.text-doublequote::after {
  content: "“";
  position: absolute;
  left: -81px;
  top: 22px;
  font-family: inherit;
  font-size: 140px;
  z-index: -1;
  color: var(--lilac);
}

@media screen and (max-width: 1000px) {
  .teacher-info {
    grid-column: 2 / span 11 !important;
  }

  .teacher .teacher-image-container {
    grid-column: 2 / span 7 !important;
  }

  .teacher img.seal {
    right: var(--offset) !important;
    left: initial !important;
  }

  .text-block {
    margin-top: 16px;
    grid-column: 2 / span 10 !important;
    grid-row-start: unset !important;
    margin-bottom: 80px;
  }

  .text-block > p {
    max-width: unset;
  }
  .text-doublequote::after {
    left: -70px;
    top: 20px;
    font-size: 100px;
  }
}

.text-block,
.teacher-info,
.achievements-list {
  opacity: 0;
  transition: opacity 300ms;
}

.text-block.scroll-manager-scrolled-to,
.teacher-info.scroll-manager-scrolled-to,
.achievements-list.scroll-manager-scrolled-to {
  opacity: 1;
}

.teacher-info,
.achievements-list {
  translate: 0 40px;
  transition: 300ms;
}

.teacher-info.scroll-manager-scrolled-to,
.achievements-list.scroll-manager-scrolled-to {
  translate: 0 0;
}

/* STUDENTS */
.students-section {
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding: 50px 24px 38px 24px;
  box-sizing: border-box;
  color: var(--ultramarine);
  background-color: var(--lilac);
}

.high-achieving-students-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 890px;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.students-section h1 {
  max-width: 600px;
}

.high-achieving-students-list {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.high-achieving-students-list > a {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 18px;
  box-sizing: border-box;
  border-radius: var(--cardBorder);
  width: 206px;
  background-color: var(--cream);
  text-align: start;

  transition: 900ms;
  transition-delay: 50ms;

  opacity: 0;

  --preappear-offset: 200px;
}

.high-achieving-students-list:not(.stable-list) > a:hover {
  scale: 1.03;
}
.high-achieving-students-list:not(.stable-list) > a:active {
  scale: 0.94;
}

.high-achieving-students-list:not(.stable-list) > a {
  cursor: pointer;
}

.high-achieving-students-list > a > img {
  aspect-ratio: 174/156;
  border-radius: 8px;
  object-fit: cover;
  opacity: 0.88;
}

.text-ha-school {
  font-size: 10px;
}

.text-ha-quote {
  font-size: 12px;
  margin-top: 8px;
}

.student-info {
  display: flex;
  flex-direction: column;
  grid-area: -2px;
}

.high-achieving-students-list > a:nth-of-type(1) {
  background-color: var(--mint);
  left: -460px;
  bottom: 70px;
  rotate: 15.902deg;
  translate: calc(var(--preappear-offset) * -1) 0;
}
.high-achieving-students-list > a:nth-of-type(2) {
  background-color: var(--cream);
  right: -390px;
  bottom: -20px;
  rotate: 4.288deg;
  translate: var(--preappear-offset) 0;
}
.high-achieving-students-list > a:nth-of-type(3) {
  background-color: var(--salmon);
  left: -446px;
  bottom: -200px;
  rotate: -11.964deg;
  translate: calc(var(--preappear-offset) * -1) 0;
}
.high-achieving-students-list > a:nth-of-type(4) {
  background-color: var(--banana);
  right: -312px;
  bottom: -357px;
  rotate: 8.459deg;
  translate: var(--preappear-offset) 0;
}

.high-achieving-students-list.stable-list {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  flex-wrap: wrap;
}

.high-achieving-students-list.stable-list > a {
  translate: 0;
  position: relative;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
  opacity: 1;
  background-color: var(--cream);
}

.high-achieving-students-list > a.scroll-manager-scrolled-to {
  translate: 0 0;
  opacity: 1;
}

.reviews-container {
  width: calc(100% + 48px);
  position: relative;
  height: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 24px;
  padding: 0 48px;
  overflow-y: hidden;
  scrollbar-width: none;
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
}

.reviews-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.reviews {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 16px;
  margin: 0;
  padding: 0;

  width: max-content;
}

.review-card {
  display: flex;
  width: 280px;
  padding: 18px 16px;
  flex-direction: column;
  gap: 4px;
  background-color: var(--cream);
  height: 222px;
  border-radius: var(--cardBorder);
  flex-shrink: 0;
  box-sizing: border-box;

  scroll-snap-align: start;
  transition: 250ms;
  cursor: pointer;
}

.review-card:hover {
  scale: 0.99;
}

.review-card:active {
  scale: 0.88;
}

.review-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  line-clamp: 6;
}

.review-card > * {
  margin: 0;
}

.slider-controls {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  /* justify-self: flex-end; */
  width: 100%;
  max-width: 1000px;
  justify-content: flex-end;
}

.slider-controls > button {
  padding: 0;
  cursor: pointer;
  transition: 150ms;
}
.slider-controls > button:hover {
  scale: 1.24;
}
.slider-controls > button:active {
  scale: 0.9;
}

.contact-micro {
  max-width: 400px;
  text-align: center;
  margin-bottom: 56px;
}

/* COMMUNITY */
.community-section {
  position: relative;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(12, 1fr);
  padding: 80px 24px;
  box-sizing: border-box;
  color: var(--ultramarine);
}

.community-section .ppoints-list > li {
  background-color: var(--salmon);
}
.community-section .ppoints-list > li::after {
  border-bottom: 21px solid var(--salmon);
}

.community-section {
  padding: 80px 24px;
}

.community-section > aside {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column: span 4;
}

.community-section h2 {
  margin: 0;
}

.community-gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px 16px;
  margin-top: 130px;
  grid-column: span 12;
}

.community-gallery .header {
  grid-column: span 12;
}

.image-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--cardBorder);
  cursor: default;
  height: 400px;
  overflow: hidden;
  grid-column: span 3;
  backdrop-filter: blur(16px);
}

.image-card img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.88;
}

.image-card .card-caption {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  padding: 16px;
  box-sizing: border-box;
  z-index: 2;
  color: var(--cream);
  transition: 200ms;
  opacity: 1;
}

.image-card::after {
  position: absolute;
  width: 100%;
  height: 82px;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1;
  content: "";
  pointer-events: none;
  user-select: none;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  transition: 200ms;
  opacity: 1;
}

.community-section .end {
  grid-column: span 12;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.image-card:nth-of-type(1) {
  grid-column: span 6;
}

@media screen and (max-width: 800px) {
  .community-section {
    padding: 80px 60px;
  }
  .community-section > aside {
    grid-column: span 12;
    text-align: center;
  }
}

@media screen and (min-width: 1000px) {
  .image-card:nth-of-type(4) {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .community-gallery {
    gap: 180px 16px;
  }

  .image-card {
    grid-column: span 6 !important;
    height: 300px;
  }
}

/* DEMO */
.demo-section {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-top: 80px;
  padding-bottom: 24px;
  flex-direction: column;
  gap: 32px;
}

.demo-section > h2 {
  max-width: 600px;
  text-align: center;
}

.video-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 48px;
  transition: 570ms;
  margin-bottom: 108px;
}

.video {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: var(--cardBorder);
  overflow: hidden;
  transition: 570ms;
}

.video-container.scroll-manager-scrolled-to {
  padding: 0px;
}

.video-container.scroll-manager-scrolled-to .video {
  border-radius: 0px;
}

.video > iframe {
  position: relative;
  width: 100%;
  height: 100%;
}

/* CONTACT */
.contact-section {
  position: relative;
  width: 100%;
  padding: 176px 200px;
  box-sizing: border-box;
  text-align: center;
  color: var(--mint);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .contact-section {
    padding: 176px 56px;
  }
}

.floaty-button {
  position: absolute;
}

.contact-section .button-filled {
  transition: color 300ms, background-color 300ms;
}

.contact-section .button-filled:hover {
  box-shadow: none;
  background-color: var(--lilac);
}

.contact-section .button-filled.invert {
  background-color: var(--lilac);
  color: var(--ultramarine);
}

.contact-section .button-filled.invert:hover {
  color: var(--cream);
  background-color: var(--ultramarine);
}

/* FOOTER */
.footer-section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 393px;
  padding: 24px;
  background-color: var(--ultramarine);
  color: var(--cream);
  box-sizing: border-box;
}

.logo-footer {
  width: 480px;
  margin-bottom: 39px;
  max-width: calc(100vw - 48px);
}

.contact-footer {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 2px;
}

.contact-footer img {
  width: 30px;
  height: 30px;
  user-select: none;
}

.contact-link {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  height: 36px;
  cursor: pointer;
}

.contact-link:hover {
  text-decoration: underline;
}

/* Modal System */
[data-modal-name] {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  background: white;
  padding: 2rem;
  border-radius: 8px;
  z-index: -1;
}

.modal-active {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  z-index: 1001;
}

.scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.modal-manager-has-modal-active .scrim {
  opacity: 1;
}

.scrim.fade-out {
  opacity: 0;
}

/* POPUP */
.popup {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  background-color: #ffffffb0;
  backdrop-filter: blur(26px);
  transition: 300ms;

  --backdrop: var(--cream);
}

.popup .scrim {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 0;
  cursor: pointer;
}

.popup-container {
  background-color: var(--backdrop);
  position: absolute;
  width: calc(100% - 48px);
  height: calc(100% - 64px);
  max-width: 1100px;
  left: 50%;
  translate: -50% 0%;
  display: flex;
  flex-direction: column;
  bottom: 0;
  border-radius: calc(var(--cardBorder) * 1.6) calc(var(--cardBorder) * 1.6) 0 0;
  overflow: hidden;
  z-index: 1;
  transition: 300ms;
}

.popup.popup-enter {
  background-color: #ffffffb0;
  backdrop-filter: blur(26px);
}
.popup.popup-leave {
  background-color: transparent;
  backdrop-filter: blur(0);
}

.popup-container.popup-enter {
  translate: -50% 0%;
}
.popup-container.popup-leave {
  translate: -50% 100%;
}

.popup.popup-active .popup-container {
  translate: -50% 0%;
}

.popup-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 24px;
  padding-bottom: 48px;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  scrollbar-gutter: stable both-edges;
}

.full-image {
  width: 100%;
  border-radius: var(--cardBorder);
}

.popup-title {
  width: 100%;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 70px;
}

.close-header {
  display: flex;
  position: relative;
  width: 100%;
  top: 0px;
  height: 72px;
  background-color: var(--backdrop);
  box-sizing: border-box;
  align-items: center;
  padding: 8px 24px;
  z-index: 10;
}
.close-header > button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: 200ms;
  width: 40px;
  height: 40px;
}

.close-header > button img {
  width: inherit;
}

.close-header > button:hover {
  scale: 1.07;
}

.close-header > button:active {
  scale: 0.88;
}

.students-popup {
  --backdrop: var(--mint);
}
.intermediate-popup {
  --backdrop: var(--lilac);
}
.advanced-popup {
  --backdrop: var(--lilac);
}
.oneone-popup {
  --backdrop: var(--lilac);
}

.activity-gallery {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.activity-gallery > .image-card {
  display: flex !important;
  grid-column: span 1;
}

.wide-logo,
.small-logo {
  height: 24px;
}

@media screen and (max-width: 1000px) {
  .activity-gallery > .image-card {
    grid-column: span 2 !important;
  }
}

@media screen and (min-width: 800px) {
  .small-logo {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .wide-logo {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  nav .navigator {
    display: none;
  }
  .ppoints-section,
  .community-section {
    padding: 80px 24px;
  }

  .ppoints-subject {
    display: none;
  }

  .text-extreme {
    font-size: 60px;
  }

  .reason-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .image-card {
    grid-column: span 12 !important;
    height: 300px;
  }
  .text-headline1-alt {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .high-achieving-students-list:not(.stable-list) > a:nth-of-type(1) {
    left: -380px;
    bottom: 159px;
    scale: 0.9;
  }
  .high-achieving-students-list:not(.stable-list) > a:nth-of-type(2) {
    right: -430px;
    bottom: 40px;
    scale: 0.9;
  }
  .high-achieving-students-list:not(.stable-list) > a:nth-of-type(3) {
    left: -446px;
    bottom: -200px;
    scale: 0.9;
  }
  .high-achieving-students-list:not(.stable-list) > a:nth-of-type(4) {
    right: -312px;
    bottom: -357px;
    scale: 0.9;
  }
}

@media screen and (max-width: 700px) {
  .high-achieving-students-list:not(.stable-list) > a:nth-of-type(1) {
    left: -200px;
    bottom: 109px;
    scale: 0.75;
  }
  .high-achieving-students-list:not(.stable-list) > a:nth-of-type(2) {
    right: -220px;
    bottom: 150px;
    scale: 0.75;
  }
  .high-achieving-students-list:not(.stable-list) > a:nth-of-type(3) {
    left: -240px;
    bottom: -420px;
    scale: 0.75;
  }
  .high-achieving-students-list:not(.stable-list) > a:nth-of-type(4) {
    right: -232px;
    bottom: -467px;
    scale: 0.75;
  }

  .high-achieving-students-list.stable-list > a {
    width: 100%;
  }

  .popup-title {
    margin-top: 48px;
  }

  .hideable-on-mobile {
    visibility: hidden;
  }

  .popup-container {
    width: calc(100% - 24px);
    height: calc(100% - 48px);
  }
}

@media screen and (max-width: 700px) {
  .contact-section {
    padding: 32px 56px;
  }

  .teacher .teacher-image-container {
    grid-column: 2 / span 9 !important;
  }

  .teacher {
    margin-top: 84px;
  }
}
@media screen and (max-width: 600px) {
  .students-section h1 {
    max-width: calc(100vw - 48px);
  }
  .text-list-item {
    font-size: 30px;
  }
}
